header
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/banner1.jpg")
    background-size: cover
    background-position: center
    height: 120vh
    width: 100%
    ul li
        padding: 10px
        color: $nav-text
        border: $nav-border
    h1
        font-family: "Courgette"
        line-height: 1.2
        font-size: 10vh
    ul li:hover
        cursor: pointer
        background-color: red
    
    .carousel-indicators [data-bs-target]  
        width: 15px
        height: 15px
        border-radius: 50%
        cursor: pointer
        background-color: #fff
        
        
        
        
        
        




   
   