header
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/banner1.jpg")
    background-size: cover
    background-position: center
    position: absolute
    height: 100%
    width: 100%
    ul li
        padding: 10px
        color: $nav-text
        border: $nav-border
    h1
        font-family: "Courgette"
        line-height: 1.2
        font-size: 10vh
    ul li:hover
        cursor: pointer
        background-color: red
    
    .carousel-indicators [data-bs-target] 
        box-sizing: content-box
        flex: 0 1 auto
        width: 10px
        height: 10px
        padding: 0
        margin-right: 3px
        margin-left: 3px
        text-indent: -999px
        cursor: pointer
        background-color: #fff
        background-clip: padding-box
        border: 0
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
        opacity: .5
        transition: opacity .6s ease
        border-radius: 100%




   
   