@media ( min-width: 1040px )
    #secret-div
        display: none !important
    
    
    
@media (min-width: 740px) and (max-width: 1024px)
    nav img
        display: none
    header h1
        font-size: 8vh
    #section5-form
        width: 75% !important
    #secret-div
        display: none !important
    #testimonials-img 
        display: flex !important
        align-items: center !important
        width: 150px
        

@media (min-width: 320px) and (max-width: 739px)
    nav img
        display: none
    header h1
        font-size: 6vh
        br
            display: none

    #section1
        width: 100% !important
        padding: 5px !important
    #section1-bigdiv
        width: 100% !important
        p
            padding: 0 !important
        #menu-list
            padding: 0 !important
            h2
                font-size: 5vh !important
                padding: 20px !important
    #section3
        width: 100% !important
        padding: 0 !important
        h2
            font-size: 4vh !important
            padding: 20px !important
    #section3-bigdiv
        width: 100% !important
        #form
            width: 100% !important
    #empty-div
        padding: 0 !important
    #section4
        padding: 20px !important
    #testimonials-in
        div
            border: none !important
            text-align: center !important
            padding: 0 !important
    #testimonials-img
        display: none !important
    #section5-form
        width: 100% !important
    #section1-plats1 img
        width: 20% !important
    #section1-plats2 img
        width: 20% !important
    #section1-plats3 img
        width: 20% !important
    #section1-plats4 img
        width: 20% !important
    #label-btn
        display: inline !important
        label
            width: 20% !important
            font-size: 15px !important
            h1
                font-size: 18px !important
        div
            border: none !important
    #plats-p
        font-size: 13px !important
    #section6
        text-align: center !important
    header
        ul li
            padding: 0 !important
            font-size: 10px !important

    #dec-line
        display: none !important

    nav
        display: none !important
    #secret-div
        a
            font-size: 8px !important

    #footer-div 
        img
        justify-content: center !important

    #section2
        #chef
            padding: 0 !important
            h2
                font-size: 30px 
                
    #section4
        h2
            padding: 0 !important


    
  


           
            
    
            
            


           
    