#section1
    background-image: url("../img/main_bg.jpg")
    h2
        font-family: "Courgette"
        font-size: 7vh
    #btn-menu1
        padding: 5px
        border-left: none
        border-top: none
        font-family: "Courgette"
        font-size: 4vh
    #btn-menu2
        padding: 5px
        border-left: none
        border-top: none
        font-family: "Courgette"
        font-size: 4vh
    #btn-menu3
        padding: 5px
        border-left: none
        border-top: none
        font-family: "Courgette"
        font-size: 4vh
    #btn-menu4
        padding: 5px
        border-left: none
        border-top: none
        font-family: "Courgette"
        font-size: 4vh

    #section1-bigdiv
        width: 90%
        margin: auto

    #section1-plats1 img
        width: 25%
        border: 1px solid $plats-border
        background-color: $plats-border

    #section1-plats2 img
        width: 25%
        border: 1px solid $plats-border
        background-color: $plats-border

    #section1-plats3 img
        width: 25%
        border: 1px solid $plats-border
        background-color: $plats-border

    #section1-plats4 img
        width: 25%
        border: 1px solid $plats-border
        background-color: $plats-border
    
    #section1-plats1
        display: none

    #section1-plats2
        display: none

    #section1-plats3
        display: none

    #section1-plats4
        display: none

    #first
        &:checked + #section1-plats1
            display: block 
    #second
        &:checked + #section1-plats2
            display: block 
    #third
        &:checked + #section1-plats3
            display: block 
    #fourth
        &:checked + #section1-plats4
            display: block 

    input
        display: none

    label h1
        font-family: "Courgette"
        font-size: 3vh
    i
        color: #CCCCCC
    i:hover
        color: #ff0000

    label:hover
        border-right: 5px solid #ff0000

    #dollar
        background-color: #EFEFEF
        border: #EFEFEF
        width: 45px
        text-align: center
    #section1-plats1 img
        border: 3px solid #AEAFAE
        background-color: #AEAFAE
    #section1-plats2 img
        border: 3px solid #AEAFAE
        background-color: #AEAFAE
    #section1-plats3 img
        border: 3px solid #AEAFAE
        background-color: #AEAFAE
    #section1-plats4 img
        border: 3px solid #AEAFAE
        background-color: #AEAFAE

    
        
        

    
    


         

    

    

      

    


        

   
    
            
    
        

    
     

